{
  "printWidth": 80,
  "trailingComma": "all",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"useTabs": false,
  "overrides": [
    {
      "files": "*.{css,scss}",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ],
  "parser": "babylon"
}
